.DS_Store
QuickRadar.xcodeproj/project.xcworkspace/contents.xcworkspacedata
QuickRadar.xcodeproj/project.xcworkspace/xcuserdata/amy.xcuserdatad/UserInterfaceState.xcuserstate
QuickRadar.xcodeproj/project.xcworkspace/xcuserdata/amy.xcuserdatad/WorkspaceSettings.xcsettings
QuickRadar.xcodeproj/xcuserdata/amy.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
QuickRadar.xcodeproj/xcuserdata/amy.xcuserdatad/xcschemes/QuickRadar.xcscheme
QuickRadar.xcodeproj/xcuserdata/amy.xcuserdatad/xcschemes/xcschememanagement.plist
.xcworkspace
xcuserdata
/QuickRadar/AppDotNetConfig.plist