.DS_Store
QuickRadar.xcodeproj/project.xcworkspace/contents.xcworkspacedata
xcuserdata
.xcworkspace
*.xccheckout
*.xcscmblueprint
xcuserdata
/QuickRadar/AppDotNetConfig.plist
/QuickRadar/Config/AppDotNetConfig.plist
