<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classifications</key>
	<array>
		<dict>
			<key>code</key>
			<string>1</string>
			<key>name</key>
			<string>Security</string>
		</dict>
		<dict>
			<key>code</key>
			<string>2</string>
			<key>name</key>
			<string>Crash/Hang/Data Loss</string>
		</dict>
		<dict>
			<key>code</key>
			<string>3</string>
			<key>name</key>
			<string>Power</string>
		</dict>
		<dict>
			<key>code</key>
			<string>4</string>
			<key>name</key>
			<string>Performance</string>
		</dict>
		<dict>
			<key>code</key>
			<string>5</string>
			<key>name</key>
			<string>UI/Usability</string>
		</dict>
		<dict>
			<key>code</key>
			<string>7</string>
			<key>name</key>
			<string>Serious Bug</string>
		</dict>
		<dict>
			<key>code</key>
			<string>8</string>
			<key>name</key>
			<string>Other Bug</string>
		</dict>
		<dict>
			<key>code</key>
			<string>10</string>
			<key>name</key>
			<string>Feature (New)</string>
		</dict>
		<dict>
			<key>code</key>
			<string>11</string>
			<key>name</key>
			<string>Enhancement</string>
		</dict>
	</array>
	<key>reproducible</key>
	<array>
		<dict>
			<key>code</key>
			<string>1</string>
			<key>name</key>
			<string>Always</string>
		</dict>
		<dict>
			<key>code</key>
			<string>2</string>
			<key>name</key>
			<string>Sometimes</string>
		</dict>
		<dict>
			<key>code</key>
			<string>3</string>
			<key>name</key>
			<string>Rarely</string>
		</dict>
		<dict>
			<key>code</key>
			<string>4</string>
			<key>name</key>
			<string>Unable</string>
		</dict>
		<dict>
			<key>code</key>
			<string>5</string>
			<key>name</key>
			<string>I Didn&apos;t Try</string>
		</dict>
		<dict>
			<key>code</key>
			<string>6</string>
			<key>name</key>
			<string>Not Applicable</string>
		</dict>
	</array>
</dict>
</plist>
