<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Accessibility</key>
	<array>
		<string>com.apple.VoiceOverUtility</string>
	</array>
	<key>Developer Tools</key>
	<array>
		<string>com.apple.dt</string>
		<string>com.apple.iphonesimulator</string>
		<string>com.apple.itunes.connect</string>
		<string>com.apple.ScriptEditor</string>
		<string>com.apple.FileMerge</string>
		<string>com.apple.AccessibilityInspector</string>
		<string>com.apple.PrinterSimulator</string>
	</array>
	<key>Documentation</key>
	<array>
		<string>com.apple.helpviewer</string>
	</array>
	<key>Hardware</key>
	<array>
		<string>com.apple.SystemProfiler</string>
	</array>
	<key>Java</key>
	<array>
		<string>com.apple.Java</string>
		<string>com.apple.Jar</string>
	</array>
	<key>OS X App Store</key>
	<array>
		<string>com.apple.appstore</string>
	</array>
	<key>OS X</key>
	<array>
		<string>com.apple.finder</string>
		<string>com.apple.dock</string>
		<string>com.apple.Terminal</string>
		<string>com.apple.keychainaccess</string>
		<string>com.apple.RAIDUtility</string>
		<string>com.apple.NetworkUtility</string>
		<string>com.apple.MigrateAssistant</string>
		<string>com.apple.Console</string>
		<string>com.apple.DiskUtility</string>
		<string>com.apple.grapher</string>
		<string>com.apple.DigitalColorMeter</string>
		<string>com.apple.ColorSyncUtility</string>
		<string>com.apple.bootcampassistant</string>
		<string>com.apple.BluetoothFileExchange</string>
		<string>com.apple.Grab</string>
		<string>com.apple.audio.AudioMIDISetup</string>
		<string>com.apple.ActivityMonitor</string>
		<string>com.apple.airport.airportutility</string>
		<string>com.apple.Preview</string>
		<string>com.apple.TextEdit</string>
		<string>com.apple.systempreferences</string>
		<string>com.apple.FontBook</string>
		<string>com.apple.Chess</string>
		<string>com.apple.calculator</string>
		<string>com.apple.PhotoBooth</string>
		<string>com.apple.Stickies</string>
		<string>com.apple.Notes</string>
		<string>com.apple.iChat</string>
		<string>com.apple.Dictionary</string>
		<string>com.apple.AddressBook</string>
		<string>com.apple.iCal</string>
		<string>com.apple.gamecenter</string>
		<string>com.apple.FaceTime</string>
		<string>com.apple.reminders</string>
		<string>com.apple.DVDPlayer</string>
		<string>com.apple.Image_Capture</string>
		<string>com.apple.Automator</string>
		<string>com.apple.installer</string>
		<string>com.apple.PackageKit</string>
		<string>com.apple.NetworkSetupAssistant</string>
		<string>com.apple.NetworkDiagnostics</string>
		<string>com.apple.ProblemReporter</string>
		<string>com.apple.SoftwareUpdate</string>
		<string>com.apple.SetupAssistant</string>
	</array>
	<key>Mail</key>
	<array>
		<string>com.apple.mail</string>
	</array>
	<key>QuickTime</key>
	<array>
		<string>com.apple.QuickTime</string>
	</array>
	<key>Safari</key>
	<array>
		<string>com.apple.Safari</string>
	</array>
	<key>iAd Producer</key>
	<array>
		<string>com.apple.iAdProducer</string>
	</array>
	<key>iLife</key>
	<array>
		<string>com.apple.iLife</string>
		<string>com.apple.iPhoto</string>
		<string>com.apple.iMovie</string>
		<string>com.apple.garageband</string>
	</array>
	<key>iTunes</key>
	<array>
		<string>com.apple.iTunes</string>
	</array>
	<key>iWork</key>
	<array>
		<string>com.apple.iWork</string>
		<string>com.apple.Pages</string>
		<string>com.apple.Numbers</string>
		<string>com.apple.Keynote</string>
	</array>
</dict>
</plist>
